<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dissing.board.dao.BoardDao">
     <resultMap type="cn.dissing.board.domain.PostInfo" id="post">
        <id property="id" column="id"/>
        <result property="ownerId" column="owner_id"/>
         <result property="typeId" column="type_id"/>
         <result property="typeName" column="type_name"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
     </resultMap>

    <resultMap type="cn.dissing.board.domain.CategoryInfo" id="categoryInfo">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="parentId" column="parent_id"/>
    </resultMap>

    <resultMap type="cn.dissing.board.domain.CommentInfo" id="commentInfo">
        <id property="id" column="id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="postId" column="post_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <select id="queryPosts" resultMap="post">
        select p.id, c.name as type_name, owner_id,type_id,subject,content,create_time,update_time,is_deleted
        from post_info p left join category_info c on p.type_id = c.id where p.is_deleted=0
        <if test="ownerId != null">
           and owner_id=#{ownerId}
        </if>
        <if test="typeId != null">
            and type_id = #{typeId}
        </if>
        <if test="subject != null">
            and subject like concat('%',#{subject},'%')
        </if>
        <if test="content != null">
            and content like concat('%',#{content},'%')
        </if>
        order by update_time desc
        limit #{beginPos},#{pageSize}
    </select>

    <select id="queryPostInfo" resultMap="post">
        select p.id, c.name as type_name, owner_id,type_id,subject,content,create_time,update_time,is_deleted
        from post_info p left join category_info c on p.type_id = c.id where p.id=#{id}
    </select>

    <insert id="savePost">
        insert into post_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="content != null">
                content,
            </if>
            create_time,
            update_time
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="ownerId != null">
                #{ownerId},
            </if>
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="subject != null">
                #{subject},
            </if>
            <if test="content != null">
                #{content},
            </if>
            now(),
            now()
        </trim>
    </insert>

    <update id="updatePost">
        update post_info
        <set>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="subject != null">
                subject = #{subject},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="queryPostsCount" resultType="java.lang.Integer">
        select count(1) from post_info where is_deleted=0
        <if test="ownerId != null">
            and owner_id=#{ownerId}
        </if>
        <if test="typeId != null">
            and type_id = #{typeId}
        </if>
        <if test="subject != null">
            and subject like concat('%',#{subject},'%')
        </if>
        <if test="content != null">
            and content like concat('%',#{content},'%')
        </if>
    </select>

    <select id="queryCategorys" resultMap="categoryInfo">
        select id,name,parent_id from category_info
    </select>

    <select id="queryComments" resultMap="post">
        select * from comment_info where 1=1
        <if test="postId != null">
            and post_id = #{postId}
        </if>
        <if test="ownerId != null">
            and owner_id=#{ownerId}
        </if>
        <if test="content != null">
            and content like concat('%',#{content},'%')
        </if>
        order by update_time desc
        limit #{beginPos},#{pageSize}
    </select>

    <select id="queryCommentsCount" resultType="java.lang.Integer">
        select count(1) from comment_info where 1=1
        <if test="postId != null">
            and post_id = #{postId}
        </if>
        <if test="ownerId != null">
            and owner_id=#{ownerId}
        </if>
        <if test="content != null">
            and content like concat('%',#{content},'%')
        </if>
    </select>
</mapper>
